<!DOCTYPE html>
<html>
	<head>
		<title>Facture</title>
		<!-- Styles CSS pour la facture -->
		<style>
			/* Styles CSS pour la facture */
			body {
				font-family: Arial, sans-serif;
				margin: 20px;
			}
			.invoice {
				border: 1px solid #ccc;
				padding: 20px;
				max-width: 800px;
				margin: 0 auto;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 20px;
			}
			th,
			td {
				border: 1px solid #ccc;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
			}
			/* ... d'autres styles si nécessaire */
		</style>
	</head>
	<body>
		<div class="invoice">
			<h1>Facture</h1>
			<div>
				<p>
					<strong>Numéro de facture:</strong>
					{{ invoiceNumber }}</p>
				<p>
					<strong>Date:</strong>
					{{ "now"|date("Y-m-d") }}</p>
				<p>
					<strong>Client:</strong>
					{{ clientName }}</p>
				<!-- Autres détails du client -->
			</div>

			<!-- Tableau des articles -->
			<table>
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix unitaire</th>
						<th>Quantité</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{ item.name }}</td>
							<td>{{ item.price }}</td>

							<td>{{ item.quantity }}</td>
							<td>
								{{ item.quantity  * item.price}}
							</td>
							{# <td>{{ item.total }}</td> #}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<strong>Total</strong>
						</td>
						<td>{{ total }}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
</html>
